/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2021, 1:30:23 AM
    Author     : Hamdhan
*/
@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-SemiBold.ttf');
}

/***********Tab Panes***********/

.tab-pane{
    -fx-background-color: #464246;
    -fx-font-family: "Poppins";
}

.tab-pane *.tab-header-background {
     -fx-background-color: #464246;
}
.tab-pane *.tab {
     -fx-background-color: null;
     -fx-border-width: 2;
     -fx-border-color:#cabcb0;
}

.tab-pane *.tab:selected {
    -fx-background-color: #cabcb0;
}

.tab-pane *.tab-label {
    -fx-text-fill: white;
}

#firsttab{
     -fx-border-radius:10 0 0 10;
     -fx-border-width: 2;
}

#firsttab:selected{
    -fx-background-color: #cabcb0;
    -fx-background-radius: 10 0 0 10;
}

#lasttab{
     -fx-border-radius:0 10 10 0;
     -fx-border-width: 2;
}

#lasttab:selected{
     -fx-background-color: #cabcb0;
     -fx-background-radius: 0 10 10 0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: null}

/***********Buttons***********/
.button{
    -fx-font-family: "Poppins";
    -fx-background-color: null;
    -fx-border-color: #cabcb0;
    -fx-border-radius:5;
    -fx-border-width: 2;
    -fx-border-style: solid outside line-cap round ;
    -fx-text-fill: #cabcb0 ;
    -fx-font-weight: normal;
}

.button:hover {
    -fx-background-color: #cabcb0;
    -fx-text-fill: #464246 ;
}

#guestbtn{
    -fx-background-color: null;
    -fx-font-size: 12;
    -fx-border-color:#464246;
    -fx-text-fill: #a5b9b9 ;
}

#guestbtn.button:hover {
    -fx-text-fill: red;
}

#passreset{
    -fx-font-size: 10;
    -fx-background-color: null;
    -fx-border-color:#464246;
    -fx-border-radius:10 10 10 10;
    -fx-text-fill: #a5b9b9 ;
}
#passreset.button:hover {
    -fx-text-fill: red;
}

/***********Labels***********/

.label{
    -fx-text-fill: #cabcb0;
}

#reglabel{
    -fx-font-size: 20;
}

#loginstatus{
    -fx-text-fill: red;
}

/***********Empty Class***********/

.welcome{
    -fx-background-color: #f8f8f8;
}

#hbox1{
    -fx-background-color: #cabcb0;
}

#hbox2{
    -fx-background-color: #a5b9b9;
}

#emptypane{
    -fx-background-color: #464246;
}
