/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2021, 1:30:23 AM
    Author     : Hamdhan
*/
@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-SemiBold.ttf');
}

/***********Tab Panes***********/

.tab-pane{
    -fx-background-color: #464246;
    -fx-font-family: "Poppins";
}

.tab-pane *.tab-header-background {
     -fx-background-color: #464246;
}
.tab-pane *.tab {
     -fx-background-color: null;
     -fx-border-width: 2;
     -fx-border-color:#cabcb0;
}

.tab-pane *.tab:selected {
    -fx-background-color: #cabcb0;
}

.tab-pane *.tab-label {
    -fx-text-fill: white;
}

#firsttab{
     -fx-border-radius:10 0 0 10;
     -fx-border-width: 2;
}

#firsttab:selected{
    -fx-background-color: #cabcb0;
    -fx-background-radius: 10 0 0 10;
}

#lasttab{
     -fx-border-radius:0 10 10 0;
     -fx-border-width: 2;
}

#lasttab:selected{
     -fx-background-color: #cabcb0;
     -fx-background-radius: 0 10 10 0;
}

#midtab{
     -fx-border-radius:0 0 0 0;
     -fx-border-width: 2;
}

#midtab:selected{
     -fx-background-color: #cabcb0;
     -fx-background-radius: 0 0 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: null}

/***********Buttons***********/
.button{
    -fx-font-family: "Poppins";
    -fx-background-color: null;
    -fx-border-color: #cabcb0;
    -fx-border-radius:5;
    -fx-border-width: 2;
    -fx-border-style: solid outside line-cap round ;
    -fx-text-fill: #cabcb0 ;
    -fx-font-weight: normal;
}

.button:hover {
    -fx-background-color: #cabcb0;
    -fx-text-fill: #464246 ;
}

#guestbtn{
    -fx-background-color: null;
    -fx-font-size: 12;
    -fx-border-color:#464246;
    -fx-text-fill: #a5b9b9 ;
}

#guestbtn.button:hover {
    -fx-text-fill: red;
}

#passreset{
    -fx-font-size: 10;
    -fx-background-color: null;
    -fx-border-color:#464246;
    -fx-border-radius:10 10 10 10;
    -fx-text-fill: #a5b9b9 ;
}

#passreset.button:hover {
    -fx-text-fill: red;
}

#enrollbtn{
    -fx-background-color: null;
    -fx-border-color: #464246;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-style: solid outside line-cap round ;
    -fx-text-fill: #464246 ;
    -fx-font-weight: bold;
}

#enrollbtn.button:hover {
    -fx-background-color: #464246;
    -fx-text-fill: #a5b9b9;
}

#boldbtn{
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

/***********Labels***********/

.label{
    -fx-text-fill: #cabcb0;
}

#reglabel{
    -fx-font-size: 20;
}

#loginstatus{
    -fx-text-fill: red;
}

#registerstatus{
    -fx-text-fill: red;
}

#white13{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

#white16{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#clickable_white16{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#clickable_white16:hover{
    -fx-text-fill: #c30101;
}

#white24{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

#grey12{
    -fx-text-fill: #777777;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#clickable_grey12{
    -fx-text-fill: #777777;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

#clickable_grey12:hover{
    -fx-text-fill: #c30101;
}

#grey22{
    -fx-text-fill: #777777;
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

#clickable_grey22{
    -fx-text-fill: #777777;
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

#clickable_grey22:hover{
    -fx-text-fill: #c30101;
}

#black14{
    -fx-text-fill: #464246;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#black16{
    -fx-text-fill: #464246;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#clickable_black16{
    -fx-text-fill: #464246;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#clickable_black16:hover{
    -fx-text-fill: #c30101;
}

/***********Text Field***********/

#profile-text-field{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: #cabcb0;
}

#profile-text-field:focused {
    -fx-border-color: #cabcb0;
    -fx-text-fill: #cabcb0;
}

/***********Empty Class***********/

.welcome{
    -fx-background-color: #f8f8f8;
}

#hbox1{
    -fx-background-color: #cabcb0;
}

#hbox2{
    -fx-background-color: #a5b9b9;
}

#pane1{
    -fx-background-color: #93329e;
}

#pane2{
    -fx-background-color: violet;
}

#pane3{
    -fx-background-color: yellow;
}

#pane4{
    -fx-background-color: greenyellow;
}

#pane5{
    -fx-background-color: #48BF91;
}

#hbox3{
    -fx-background-color: null;
}

#hbox3:hover{
    -fx-background-color: #aeaeae;
}